global:
### Configure Custom Resources (RBAC/OIDC) inside the cluster
  enforceAutomationGlobal: ""
  enforceAutomationCluster: ""
  firstLineGlobal: ""
  firstLineCluster: ""
  onboardingGlobal: ""
  onboardingCluster: ""
  thirdPartyGlobal: ""
  thirdPartyCluster: ""
  thirdParties: []
  cluster:
    name: ""
    tenant: ""
    location: ""
    environment: ""
    authBackends: {}
    owners: {}
    machineAccounts: {}
    thirdParties: []

  # Define global setting that will apply to all components
  serviceAccount:
    create: true
    name:
  priorityClassName: caas-high-priority-workload
  image:
    registry: "artifactory.devops.telekom.de"
    repository: "tdi-caas-docker-images-local"
    name: "authn-authz-operator"
    tag: "v0.2.0"
  imagePullSecrets:
    - name: mcicd-docker
  imagePullPolicy: Always
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
          - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists

# Generator component specific config (RoleDefinition)
generator:
  rbac:
    create: true
    rules:
    - apiGroups:
      - authorization.t-caas.telekom.com
      resources:
      - roledefinitions
      - roledefinitions/finalizers
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - authorization.t-caas.telekom.com
      resources:
      - roledefinitions/status
      verbs:
      - get
      - patch
      - update
    - apiGroups:
      - rbac.authorization.k8s.io
      resources:
      - clusterroles
      - roles
      - clusterroles/finalizers
      - roles/finalizers
      verbs:
      - escalate
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - rbac.authorization.k8s.io
      resources:
      - clusterroles/status
      - roles/status
      verbs:
      - get
      - list 
      - watch
      - patch
      - update
    - apiGroups:
      - apiextensions.k8s.io 
      resources:
      - customresourcedefinitions
      verbs:
      - get 
      - list 
      - watch
    - apiGroups:
      - "" 
      resources:
      - events
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - events.k8s.io 
      resources:
      - events
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  networkPolicy:
    enabled: true
  prometheus:
    enabled: true
  annotations:
    {}
  resources:
    requests:
      cpu: 10m
      memory: 20Mi
    limits:
      cpu: 50m
      memory: 100Mi

### Binder component specific config (BindDefinition)
binder:
  rbac:
    create: true
    rules:
    - apiGroups:
      - authorization.t-caas.telekom.com
      resources:
      - binddefinitions
      - binddefinitions/finalizers
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - authorization.t-caas.telekom.com
      resources:
      - binddefinitions/status
      verbs:
      - get
      - patch
      - update
    - apiGroups:
      - rbac.authorization.k8s.io
      resources:
      - clusterroles
      - roles
      - clusterroles/finalizers
      - roles/finalizers
      - clusterrolebindings
      - rolebindings
      - clusterrolebindings/finalizers
      - rolebindings/finalizers
      verbs:
      - bind
      - escalate
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - rbac.authorization.k8s.io
      resources:
      - clusterrolebindings/status
      - rolebindings/status
      verbs:
      - get
      - patch
      - update
    - apiGroups:
      - ""
      resources:
      - namespaces
      - pods
      - services
      verbs:
      - get 
      - list 
      - watch
    - apiGroups:
      - "apps"
      resources:
      - deployments 
      verbs:
      - get 
      - list 
      - watch
    - apiGroups:
      - ""
      resources:
      - serviceaccounts
      - serviceaccounts/finalizers
      - events
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - events.k8s.io 
      resources:
      - events
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  networkPolicy:
    enabled: true
  prometheus:
    enabled: true
  annotations:
    {}
  resources:
    requests:
      cpu: 10m
      memory: 20Mi
    limits:
      cpu: 50m
      memory: 100Mi

### IDP component specific config (AuthProvider)
idp:
  rbac:
    create: true
    rules:
    - apiGroups:
      - authentication.t-caas.telekom.com
      resources:
      - authproviders
      verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - authentication.t-caas.telekom.com
      resources:
      - authproviders/status
      verbs:
      - get
      - patch
      - update
  networkPolicy:
    enabled: true
  prometheus:
    enabled: true
  annotations:
    {}
  resources:
    requests:
      cpu: 10m
      memory: 20Mi
    limits:
      cpu: 50m
      memory: 100Mi

