---
include:
  - project: "cit/t-caas/ci/pipelines"
    ref: "${SHARED_PIPELINE_VERSION}"
    file:
      - "execution/golang/tdi-op-extension.yaml"


variables:
  APP_NAME: "auth-operator"
  GO_VERSION: "1.23"
  GO_MAIN: "main.go"
  GO_BIN_NAME: "${APP_NAME}"
  HELM_CHART_SOURCE: chart/auth-operator
  GIT_DEPTH: 1
  HELM_TEMPLATE_ARGS: >-
    --set authproviderSecrets.apiToken=forCI
    --set authproviderSecrets.apiTokenRefresh=forCI
    --set authproviderSecrets.apiTokenRefreshUrl=forCI
    --set authproviderSecrets.idpUrl=forCI

# use specific go flags
go-build:
  variables:
    GO_LDFLAGS: >-
      -s -w
      -X gitlab.devops.telekom.de/cit/t-caas/operators/auth-operator/pkg/system.Name=${CI_PROJECT_TITLE}
      -X gitlab.devops.telekom.de/cit/t-caas/operators/auth-operator/pkg/system.Version=${GO_APP_VERSION}
      -X gitlab.devops.telekom.de/cit/t-caas/operators/auth-operator/pkg/system.Commit=${CI_COMMIT_SHA}
      -X gitlab.devops.telekom.de/cit/t-caas/operators/auth-operator/pkg/system.Repository=${CI_PROJECT_URL}

assert-controller-gen:
  variables:
    K8S_OP_CONTROLLER_GEN_VERSION: "v0.17.3"

.helm-base:
  variables:
    HELM_CHART_SOURCE: chart/auth-operator

# TODO: remove once test-cases are fixed and working
go-test:
  allow_failure: true
