---
image: artifactory.devops.telekom.de/tdi-caas-docker-images-local/caas-k8s-helm-docker:0.4.8

variables:
  CHART_DIRECTORY: "helm"
  DOCKER_FILE: "Dockerfile"
  IMAGE_NAME: "authn-authz-operator"
  TAG: 0.1.1

stages:
- test
- docker-test
- docker-package
- helm-test
- helm-package

sast:
  stage: test

include:
- template: Security/SAST.gitlab-ci.yml
- template: Security/Dependency-Scanning.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
- project: 'tdi-caas/docker-ci'
  file: '/gitlab-ci.yml'
  ref: 'main'
- project: 'tdi-caas/helm-ci'
  file: '/gitlab-ci.yml'
  ref: 'master'
