---
include:
- project: "cit/t-caas/ci/pipelines"
  ref: "${SHARED_PIPELINE_VERSION}"
  file:
  - 'execution/golang/tdi-op-extension.yaml'
image-push:
  tags:
    - aws_run_k8s_intel_m
variables:
  GO_VERSION: "1.22"

# use specific go flags
go-build:
  variables:
    GO_LDFLAGS: >-
      -s -w
      -X gitlab.devops.telekom.de/cit/t-caas/dns-operator.git/internal/system.Name=${CI_PROJECT_TITLE}
      -X gitlab.devops.telekom.de/cit/t-caas/dns-operator.git/internal/system.Version=${GO_APP_VERSION}
      -X gitlab.devops.telekom.de/cit/t-caas/dns-operator.git/internal/system.Commit=${CI_COMMIT_SHA}
      -X gitlab.devops.telekom.de/cit/t-caas/dns-operator.git/internal/system.Repository=${CI_PROJECT_URL}

# TODO: remove once test-cases are fixed and working
go-test:
  allow_failure: true

