apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "auth-operator.fullname" . }}-authentication-authprovider-editor-role
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders/status
  verbs:
  - get