apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "auth-operator.fullname" . }}-controller-manager
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.controller.serviceAccount.annotations | nindent 4 }}
