apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "auth-operator.fullname" . }}-namespace-mutating-webhook-configuration
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "auth-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-v1-namespace
      port: 443
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: namespace.mutating.webhook.auth.t-caas.telekom.de
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - namespaces
    scope: '*'
  sideEffects: None
  timeoutSeconds: 10
