apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "auth-operator.fullname" . }}-controller-manager
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.controllerManager.serviceAccount.annotations | nindent 4 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "auth-operator.fullname" . }}-webhook-server
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.webhookServer.serviceAccount.annotations | nindent 4 }}
