apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "auth-operator.fullname" . }}-webhook-server
  labels:
    control-plane: webhook-server
  {{- include "auth-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.webhookServer.replicas }}
  selector:
    matchLabels:
      control-plane: webhook-server
    {{- include "auth-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: webhook-server
      {{- include "auth-operator.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - args: 
        - webhook
        - --health-probe-bind-address=:8081
        - --port=9443
        - --certs-dir=/tmp/k8s-webhook-server/serving-certs
        - --cert-rotation-dns-name={{ include "auth-operator.fullname" . }}-webhook-service.$(POD_NAMESPACE).svc
        - --cert-rotation-secret-name={{ include "auth-operator.fullname" . }}-webhook-certs
        - --cert-rotation-mutating-webhook={{ include "auth-operator.fullname" . }}-namespace-mutating-webhook-configuration
        - --cert-rotation-validating-webhook={{ include "auth-operator.fullname" . }}-namespace-validating-webhook-configuration
        - --cert-rotation-validating-webhook={{ include "auth-operator.fullname" . }}-binder-validating-webhook-configuration
        - --tdg-migration={{ .Values.webhookServer.tdgMigration }}
        - --verbosity={{ .Values.global.logLevel }}
        {{- if .Values.tracing.enabled }}
        - --tracing-enabled
        - --tracing-endpoint={{ .Values.tracing.endpoint }}
        - --tracing-sampling-rate={{ .Values.tracing.samplingRate }}
        {{- if .Values.tracing.insecure }}
        - --tracing-insecure
        {{- end }}
        {{- end }}
        command:
        - /auth-operator
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: {{ include "auth-operator.image" . }}
        imagePullPolicy: {{ include "auth-operator.imagePullPolicy" . }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: webhook
        ports:
        - containerPort: 8081
          name: health-probe
          protocol: TCP
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.webhookServer.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.containerSecurityContext | nindent 10 }}
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "auth-operator.fullname" . }}
      terminationGracePeriodSeconds: 10
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: {{ include "auth-operator.fullname" . }}-webhook-certs
