apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "auth-operator.fullname" . }}-webhook-server-clusterrole
  labels:
  {{- include "auth-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - webhookauthorizers
  - binddefinitions
  - authproviders
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  - namespaces
  verbs:
  - get
  - list
  - watch
  - update
