image:
  repository: controller
  tag: latest
imagePullSecrets: []
kubernetesClusterDomain: cluster.local
serviceAccount:
  annotations: {}
controller:
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  replicas: 1
webhookServer:
  replicas: 1
  tdgMigration: "false"
  resources:
    limits:
      cpu: 150m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  service:
    port: 443
    protocol: TCP
    type: ClusterIP
