authproviderSecrets:
  apiToken: ""
  idpUrl: ""
image:
  repository: controller
  tag: latest
imagePullSecrets: []
kubernetesClusterDomain: cluster.local
controller:
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
webhookServer:
  replicas: 1
  tdgMigration: "false"
  serviceAccount:
    annotations: {}
  resources:
    limits:
      cpu: 150m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  service:
    port: 443
    protocol: TCP
    type: ClusterIP
