---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "t-caas-rbac-generator.fullname" . }}
  labels:
{{ include "t-caas-rbac-generator.labels.standard" . | indent 4 }}
{{- if .Values.annotations }}
  annotations:
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
{{ include "t-caas-rbac-generator.labels.standard" . | indent 6 }}
  template:
    metadata:
      labels:
{{ include "t-caas-rbac-generator.labels.standard" . | indent 8 }}
      {{- if .Values.annotations }}
      annotations:
{{ toYaml .Values.annotations | indent 8 }}
      {{- end }}
    spec:
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: {{ template "t-caas-rbac-generator.fullname" . }}-webhook-cert
      affinity:
{{- toYaml .Values.affinity | nindent 8 }}
      securityContext:
        runAsNonRoot: true
      priorityClassName: {{ .Values.priorityClassName }}
      imagePullSecrets:
{{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- if .Values.serviceAccount.create }}
      serviceAccount: {{ template "t-caas-rbac-generator.serviceAccountName" .}}
      {{- end }}
      tolerations:
{{ toYaml .Values.tolerations | indent 6 }}
      containers:
      - name: t-caas-authn-authz-operator
        command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
        image: {{ include "caas-image-template" .Values.image }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - mountPath: /webhook-server/cert
          name: cert
          readOnly: true
        ports:
          # metrics port
          - name: http-metrics
            containerPort: 8081
            protocol: TCP 
          # webhook port
          - containerPort: 9443
            name: webhook-server
            protocol: TCP

