---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-server
  namespace: system
  labels:
    control-plane: webhook-server
    app.kubernetes.io/name: auth-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: webhook-server
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: webhook-server
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - command:
            - /auth-operator
          args:
            - webhook
            - --health-probe-bind-address=:8081
            - --port=9443
            - --certs-dir=/tmp/k8s-webhook-server/serving-certs
            - --cert-rotation-dns-name=$(WEBHOOK_SERVICE_NAME).$(POD_NAMESPACE).svc
            - --cert-rotation-secret-name=$(WEBHOOK_SECRET_NAME)
            - --cert-rotation-mutating-webhook=$(MUTATING_WEBHOOK_NAME)
            - --cert-rotation-validating-webhook=$(VALIDATING_WEBHOOK_NS_NAME)
            - --cert-rotation-validating-webhook=$(VALIDATING_WEBHOOK_BINDER_NAME)
            - --tdg-migration=$(TDG_MIGRATION)
          image: controller:latest
          name: webhook
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: TDG_MIGRATION
              value: "false"
            - name: WEBHOOK_SERVICE_NAME
              value: "webhook-service"
            - name: WEBHOOK_SECRET_NAME
              value: "webhook-certs"
            - name: MUTATING_WEBHOOK_NAME
              value: "namespace-mutating-webhook-configuration"
            - name: VALIDATING_WEBHOOK_NS_NAME
              value: "namespace-validating-webhook-configuration"
            - name: VALIDATING_WEBHOOK_BINDER_NAME
              value: "validating-webhook-configuration"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 150m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
          ports:
            - name: health-probe
              containerPort: 8081
              protocol: TCP
            - name: webhook-server
              containerPort: 9443
              protocol: TCP
          volumeMounts:
            - name: cert
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: true
      serviceAccountName: manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: webhook-certs
