{{- $onboardingGlobal := default "false" $.Values.global.onboardingGlobal }}
{{- $onboardingCluster := $.Values.global.onboardingCluster | default "" }}
{{- $onboarding := $onboardingGlobal }}
{{- if ne $onboardingCluster "" }}
  {{- $onboarding = $onboardingCluster }}
{{- end }}
{{- if eq $onboarding "true" }}
{{- range $index, $authBackend := .Values.global.cluster.authBackends }}
---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: BindDefinition
metadata:
  name: {{ $authBackend.name }}-bd-onboarding-namespaced-poweruser
spec:
  targetName: {{ $authBackend.name }}-bd-onboarding-ns-poweruser
  subjects:
    - apiGroup: rbac.authorization.k8s.io
      kind: Group 
      name: {{ (printf "oidc:%sonboarding_namespaced_poweruser" $authBackend.oidcGroupNamePrefix) | replace "_" $authBackend.oidcGroupNameDelimiter }}
    - apiGroup: rbac.authorization.k8s.io
      kind: Group 
      name: {{ (printf "oidc:%sonboarding_cluster_collaborator" $authBackend.oidcGroupNamePrefix) | replace "_" $authBackend.oidcGroupNameDelimiter }}
    - apiGroup: rbac.authorization.k8s.io
      kind: Group 
      name: {{ (printf "oidc:%sonboarding_cluster_poweruser" $authBackend.oidcGroupNamePrefix) | replace "_" $authBackend.oidcGroupNameDelimiter }}
    - kind: ServiceAccount
      namespace: kube-system
      name: m2m-sa-t-caas-onboarding
  roleBindings:
    clusterRoleRefs:
    - apiGroup: rbac.authorization.k8s.io
      kind: ClusterRole 
      name: t-caas-onboarding-namespaced-poweruser
    namespaceSelector:
    - matchExpressions:
      - key: kubernetes.io/metadata.name
        operator: In
        values:
          - kube-system
          - kube-public
          - kube-node-lease
    - matchExpressions:
      - key: t-caas.telekom.com/owner
        operator: In
        values:
          - platform
    - matchExpressions:
      - key: t-caas.telekom.com/owner
        operator: In 
        values:
          - tenant 
    - matchExpressions:
      - key: t-caas.telekom.com/owner
        operator: In 
        values:
          - thirdparty
{{- end }}
{{- end }}
