# permissions for end users to edit authproviders.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: authn-authz-operator
    app.kubernetes.io/managed-by: kustomize
  name: authentication-authprovider-editor-role
rules:
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders/status
  verbs:
  - get
