# permissions for end users to view authproviders.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: t-caas-rbac-generator
    app.kubernetes.io/managed-by: kustomize
  name: authentication-authprovider-viewer-role
rules:
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders/status
  verbs:
  - get
