# permissions for end users to edit webhookauthorizers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: t-caas-rbac-generator
    app.kubernetes.io/managed-by: kustomize
  name: authorization-webhookauthorizer-editor-role
rules:
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - webhookauthorizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - webhookauthorizers/status
  verbs:
  - get
