---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: controller-manager-clusterrole
rules:
# CRDs from authorization API group
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - roledefinitions
  - roledefinitions/finalizers
  - roledefinitions/status
  - binddefinitions
  - binddefinitions/finalizers
  - binddefinitions/status
  verbs:
  - '*'
# CRDs from authentication API group
- apiGroups:
  - authentication.t-caas.telekom.com
  resources:
  - authproviders
  - authproviders/finalizers
  - authproviders/status
  verbs:
  - '*'

# Operates on
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - roles
  - clusterroles/finalizers
  - roles/finalizers
  - clusterroles/status
  - roles/status
  - clusterrolebindings
  - rolebindings
  - clusterrolebindings/finalizers
  - rolebindings/finalizers
  - clusterrolebindings/status
  - rolebindings/status
  verbs:
  - bind
  - escalate
  - '*'
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - serviceaccounts/finalizers
  - events
  verbs:
  - '*'
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

# Has to be able to get,list,watch everything
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
