# permissions for end users to view roledefinitions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: t-caas-rbac-generator
    app.kubernetes.io/managed-by: kustomize
  name: roledefinition-viewer-role
rules:
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - roledefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - roledefinitions/status
  verbs:
  - get
