# permissions for end users to edit roledefinitions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: authn-authz-operator
    app.kubernetes.io/managed-by: kustomize
  name: roledefinition-editor-role
rules:
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - roledefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - roledefinitions/status
  verbs:
  - get
