---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - binddefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - binddefinitions/finalizers
  verbs:
  - update
- apiGroups:
  - authorization.t-caas.telekom.com
  resources:
  - binddefinitions/status
  verbs:
  - get
  - patch
  - update
