apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: BindDefinition
metadata:
  labels:
    app.kubernetes.io/name: t-caas-rbac-generator
    app.kubernetes.io/managed-by: kustomize
  name: binddefinition-sample
spec:
  # TODO(user): Add fields here
