apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: WebhookAuthorizer
metadata:
  name: webhookauthorizer-sample
spec:
  resourceRules:
  - apiGroups:
    - crd.projectcalico.org
    resources:
    - networkpolicies
    verbs:
    - get
  allowedPrincipals:
  - user: xavi
  deniedPrincipals:
  - user: karlito
    groups:
    - somefancygroup
  namespaceSelector:
    matchExpressions:
    - key: kubernetes.io/metadata.name
      operator: In
      values:
      - kube-system
