apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: BindDefinition
metadata:
  labels:
    app.kubernetes.io/name: auth-operator
    app.kubernetes.io/managed-by: kustomize
  name: binddefinition-sample
spec:
  targetName: bd-onboarding-ns
  subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User 
    name: luka@tomislav.galic
  - apiGroup: rbac.authorization.k8s.io
    kind: Group 
    name: onboarding-admin-test
  - kind: ServiceAccount 
    name: test-sa
    namespace: kube-system
  clusterRoleBindings:
    clusterRoleRefs:
    - t-caas-cluster-reader
  roleBindings:
    clusterRoleRefs:
    - t-caas-cluster-reader
    roleRefs:
    - t-caas-namespaced-reader
    namespaceSelector:
      - matchExpressions:
        - key: t-caas.telekom.com/owner
          operator: In
          values:
          - tenant
        - key: t-caas.telekom.com/tenant
          operator: In
          values:
          - karlo
