---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-platform-namespaced-reader-restricted
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-platform-namespaced-reader-restricted
  scopeNamespaced: true
  restrictedResources:
    - name: secrets 
      singularName: secret 
      namespaced: true 
      group: v1 
      kind: Secret
      verbs:
        - all
    - name: pods/exec
      singularName: pod 
      namespaced: true 
      group: v1 
      kind: Pod
      verbs:
        - all
    - name: pods/proxy
      singularName: pod 
      namespaced: true 
      group: v1 
      kind: Pod
      verbs:
        - all
    - name: pods/attach
      singularName: pod 
      namespaced: true 
      group: v1 
      kind: Pod
      verbs:
        - all
    - name: pods/portforward
      singularName: pod 
      namespaced: true 
      group: v1 
      kind: Pod
      verbs:
        - all
  restrictedVerbs:
  - create
  - update
  - patch
  - delete
  - deletecollection
  - bind
  - escalate
  - impersonate
