apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-platform-namespaced-collaborator
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-platform-namespaced-collaborator
  scopeNamespaced: true 
  restrictedVerbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - watch
  - bind
  - escalate
  - impersonate
