---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-tenant-cluster-poweruser
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-tenant-cluster-poweruser
  scopeNamespaced: false 
  restrictedApis:
    - name: authentication.t-caas.telekom.com
      versions:
        - groupVersion: authentication.t-caas.telekom.com/v1alpha1
          version: v1alpha1
    - name: authorization.t-caas.telekom.com
      versions:
        - groupVersion: authorization.t-caas.telekom.com/v1alpha1
          version: v1alpha1
    - name: cert-manager.io
      versions:
        - groupVersion: cert-manager.io/v1
          version: v1
    - name: crd.projectcalico.org 
      versions:
        - groupVersion: crd.projectcalico.org/v1 
          version: v1
    - name: node.k8s.io
      versions:
        - groupVersion: node.k8s.io/v1
          version: v1
    - name: trident.netapp.io
      versions:
        - groupVersion: trident.netapp.io/v1 
          version: v1
  restrictedResources:
    - name: nodes
      singularName: node 
      namespaced: false 
      group: v1 
      kind: Node 
      verbs:
        - all
    - name: nodes/proxy
      singularName: node
      namespaced: false 
      group: v1 
      kind: Node 
      verbs:
        - all
  restrictedVerbs:
  - patch
  - update
  - get
  - list
  - watch
  - bind
  - escalate
  - impersonate
