---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-tenant-namespaced-collaborator
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-tenant-namespaced-collaborator
  scopeNamespaced: true 
  restrictedApis:
    - name: crd.projectcalico.org 
      versions:
        - groupVersion: crd.projectcalico.org/v1 
          version: v1
    - name: trident.netapp.io
      versions:
        - groupVersion: trident.netapp.io/v1 
          version: v1
  restrictedVerbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - watch
  - bind
  - escalate
  - impersonate
