apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-tenant-namespaced-poweruser
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-tenant-namespaced-poweruser
  scopeNamespaced: true 
  restrictedVerbs:
  - patch
  - update
  - get
  - list
  - watch
  - bind
  - escalate
  - impersonate
