---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-tenant-cluster-reader
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-tenant-cluster-reader
  scopeNamespaced: false
  restrictedResources:
    - name: nodes/proxy
      singularName: node
      namespaced: false 
      group: "" 
      kind: Node 
      verbs:
        - all
  restrictedVerbs:
  - create
  - update
  - patch
  - delete
  - deletecollection
  - bind
  - escalate
  - impersonate
