{{- if or (eq .Values.global.onboardingGlobal "true") (eq .Values.global.onboardingCluster "true") }}
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-onboarding-namespaced-poweruser
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-onboarding-namespaced-poweruser
  scopeNamespaced: true 
  restrictedApis:
    - name: acme.cert-manager.io 
      versions:
        - groupVersion: acme.cert-manager.io/v1 
          version: v1
    - name: autoscaling
      versions:
        - groupVersion: autoscaling/v2 
          version: v2
    - name: batch
      versions:
        - groupVersion: batch/v1 
          version: v1
    - name: cert-manager.io 
      versions:
        - groupVersion: cert-manager.io/v1 
          version: v1
    - name: coordination.k8s.io
      versions:
        - groupVersion: coordination.k8s.io/v1 
          version: v1
    - name: crd.projectcalico.org 
      versions:
        - groupVersion: crd.projectcalico.org/v1 
          version: v1
    - name: events.k8s.io 
      versions:
        - groupVersion: events.k8s.io/v1 
          version: v1
    - name: policy
      versions:
        - groupVersion: policy/v1 
          version: v1
    - name: rbac.authorization.k8s.io
      versions:
        - groupVersion: rbac.authorization.k8s.io/v1 
          version: v1
    - name: snapshot.storage.k8s.io
      versions:
        - groupVersion: snapshot.storage.k8s.io/v1 
          version: v1
    - name: storage.k8s.io
      versions:
        - groupVersion: storage.k8s.io/v1 
          version: v1
    - name: velero.io 
      versions:
        - groupVersion: velero.io/v1 
          version: v1 
        - groupVersion: velero.io/v2alpha1
          version: v2alpha1
    - name: trident.netapp.io
      versions:
        - groupVersion: trident.netapp.io/v1 
          version: v1
  restrictedResources:
    - name: secrets 
      singularName: secret 
      namespaced: true 
      group: v1 
      kind: Secret
      verbs:
        - all
  restrictedVerbs:
  - patch
  - update
  - get
  - list
  - watch
  - bind
  - escalate
  - impersonate
{{- end }}
