{{- $onboardingGlobal := default "false" $.Values.global.onboardingGlobal }}
{{- $onboardingCluster := $.Values.global.onboardingCluster | default "" }}
{{- $onboarding := $onboardingGlobal }}
{{- if ne $onboardingCluster "" }}
  {{- $onboarding = $onboardingCluster }}
{{- end }}
{{- if eq $onboarding "true" }}
---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-onboarding-cluster-reader
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-onboarding-cluster-reader
  scopeNamespaced: false
  restrictedResources:
    - name: nodes/proxy
      singularName: node
      namespaced: false 
      group: "" 
      kind: Node 
      verbs:
        - all
  restrictedVerbs:
  - create
  - update
  - patch
  - delete
  - deletecollection
  - bind
  - escalate
  - impersonate
{{- end }}
