{{- $onboardingGlobal := default "false" $.Values.global.onboardingGlobal }}
{{- $onboardingCluster := $.Values.global.onboardingCluster | default "" }}
{{- $onboarding := $onboardingGlobal }}
{{- if ne $onboardingCluster "" }}
  {{- $onboarding = $onboardingCluster }}
{{- end }}
{{- if eq $onboarding "true" }}
---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-onboarding-namespaced-reader
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-onboarding-namespaced-reader
  scopeNamespaced: true
  restrictedResources:
    - name: secrets 
      singularName: secret 
      namespaced: true 
      group: "" 
      kind: Secret
      verbs:
        - all
    - name: pods/attach 
      singularName: pod
      namespaced: true 
      group: "" 
      kind: Pod
      verbs:
        - all
    - name: pods/ephemeralcontainers 
      singularName: pod
      namespaced: true 
      group: "" 
      kind: Pod
      verbs:
        - all
    - name: pods/exec
      singularName: pod
      namespaced: true 
      group: "" 
      kind: Pod
      verbs:
        - all
    - name: pods/portforward
      singularName: pod
      namespaced: true 
      group: "" 
      kind: Pod
      verbs:
        - all
    - name: pods/proxy
      singularName: pod
      namespaced: true 
      group: "" 
      kind: Pod
      verbs:
        - all
  restrictedVerbs:
  - create
  - update
  - patch
  - delete
  - deletecollection
  - bind
  - escalate
  - impersonate
{{- end }}
