---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: authproviders.authentication.t-caas.telekom.com
spec:
  group: authentication.t-caas.telekom.com
  names:
    kind: AuthProvider
    listKind: AuthProviderList
    plural: authproviders
    singular: authprovider
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AuthProvider is the Schema for the authproviders API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AuthProviderSpec defines the desired state of AuthProvider
            properties:
              authBackend:
                properties:
                  host:
                    type: string
                  path:
                    type: string
                  port:
                    type: integer
                required:
                - host
                - port
                type: object
              refreshBackend:
                properties:
                  host:
                    type: string
                  path:
                    type: string
                  port:
                    type: integer
                required:
                - host
                - port
                type: object
              tenant:
                properties:
                  groups:
                    items:
                      properties:
                        groupNames:
                          items:
                            type: string
                          type: array
                        groupType:
                          type: string
                        parentGroup:
                          type: string
                      required:
                      - groupNames
                      - groupType
                      - parentGroup
                      type: object
                    type: array
                  members:
                    items:
                      properties:
                        groupNames:
                          items:
                            type: string
                          type: array
                        name:
                          type: string
                      required:
                      - groupNames
                      - name
                      type: object
                    type: array
                  name:
                    type: string
                  owners:
                    items:
                      type: string
                    type: array
                required:
                - groups
                - name
                - owners
                type: object
              thirdParty:
                items:
                  properties:
                    groups:
                      items:
                        properties:
                          groupNames:
                            items:
                              type: string
                            type: array
                          groupType:
                            type: string
                          parentGroup:
                            type: string
                        required:
                        - groupNames
                        - groupType
                        - parentGroup
                        type: object
                      type: array
                    members:
                      items:
                        properties:
                          groupNames:
                            items:
                              type: string
                            type: array
                          name:
                            type: string
                        required:
                        - groupNames
                        - name
                        type: object
                      type: array
                    name:
                      type: string
                    owners:
                      items:
                        type: string
                      type: array
                  required:
                  - groups
                  - name
                  - owners
                  type: object
                type: array
            required:
            - authBackend
            - tenant
            type: object
          status:
            description: AuthProviderStatus defines the observed state of AuthProvider
            properties:
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
