{{- $firstLineGlobal := default "false" $.Values.global.firstLineGlobal }}
{{- $firstLineCluster := $.Values.global.firstLineCluster | default "" }}
{{- $firstLine := $firstLineGlobal }}
{{- if ne $firstLineCluster "" }}
  {{- $firstLine = $firstLineCluster }}
{{- end }}
{{- if eq $firstLine "true" }}
---
apiVersion: authorization.t-caas.telekom.com/v1alpha1
kind: RoleDefinition
metadata:
  name: rd-firstline-cluster-reader
  labels:
{{ include "authn-authz-operator.labels.generator" . | indent 4 }}
spec:
  targetRole: ClusterRole
  targetName: t-caas-firstline-cluster-reader
  scopeNamespaced: false
  restrictedResources:
    - name: nodes/proxy
      singularName: node/proxy
      namespaced: false 
      group: "" 
      kind: Node 
      verbs:
        - all
  restrictedVerbs:
  - create
  - update
  - patch
  - delete
  - deletecollection
  - bind
  - escalate
  - impersonate
{{- end }}
